api:
  fabrick:
    host: https://sandbox.platfr.io
    apiKey: FXOVVXXHVCPVPBZXIJOBGUGSKHDNFRRQJP
    authSchema: S2S
    path:
      get-balance: /api/gbs/banking/v4.0/accounts/{accountId}/balance
      create-money-transfers: /api/gbs/banking/v4.0/accounts/{accountId}/payments/money-transfers
      get-transactions: /api/gbs/banking/v4.0/accounts/{accountId}/transactions